@import url("./global.css");

header{
    display: flex; /* Para que o grupo fique ao lado do outro */
    justify-content: space-between; /* Colocar nas extremidades */
    align-items: center; /* Centraliza na vertical */
    padding: 30px; /* Espaçamento interno */
    border-bottom: 0.7px solid var(--color-gray-3); /* Borda iferior */
}

.container-nav-header{
    display: flex; /* Para que o grupo fique ao lado do outro */
    align-items: center; /* Centraliza na vertical */
    gap: 70px; /* Distância entre os elementos */
}

.navigation-header ul{ /* Só vai estilizar as tags <UL> que etiverem dentro de navigation-header */
    display: flex;  /* Para que o grupo fique ao lado do outro */
    gap: 40px; /* Distância entre os elementos */
    list-style: none; /* Remove a bolinha */       
}

.navigation-header ul li a{
    text-decoration: none; /* Decoração do texto */
    color: var(--color-black); /* cor do texto */
    font-family: var(--font-family-primary); /* Família da fonte */    
}

.navigation-header ul li .menu-active{
    color: var(--color-blue); /* Cor do texto */
}

.btn-header{
    font-family: var(--font-family-primary); /* Altera a fonte */
    text-decoration: none; /* Tira a decoração do texto */
    background-color: var(--color-blue); /* Cor de fundo */
    color: var(--color-white); /* Cor de texto */
    border-radius: 10px; /* Arredondamento das bordas */
    padding: 10px 20px; /* Espaçamento interno */
    font-weight: var(--font-weight-button); /* Espessura da fonte */
}
